<%= form_with model: @setlist, local: true do |s| %>
    <div class="form-group">
    <%= s.label :artist %>
    <%= s.text_field :artist %>
    </div>
    <div class="form-group">
    <%= s.label :date %>
    <%= s.datetime_field :date %>
      </div>
    <div class="form-group">
    <%= s.label :event %>
    <%= s.text_field :event %>
      </div>
    <div class="form-group">
    <%= s.label :venue %>
    <%= s.text_field :venue %>
    </div>
    <div class="form-group">
      <div class="parents">
        <%= link_to_add_association "songを追加", s, :songs, data: { association_insertion_method: 'append' } %>
          <%= s.fields_for :songs do |t| %>
              <%= render "song_fields", f: t %>
          <% end %>
          
      </div>
    </div>
        <div class="form-group">
      <div class="parents">
        <%= link_to_add_association "encoreを追加", s, :encores, data: { association_insertion_method: 'append' } %>
          <%= s.fields_for :encores do |u| %>
              <%= render "encore_fields", f: u %>
          <% end %>
          
      </div>
    </div>
    <div class="actions">
        <%= s.submit %>
    </div>
<% end %>