<div id="user-header" class="big-bg">
  <%= render 'layouts/header' %>
</div>

<div class="container mb-5">
  <div class="row justify-content-end">
    <%= render 'searches/search-form' %>
  </div>
  <% if @user.id == current_user.id %>
    <h4>my page</h4>
  <% else %>
    <h4>user info</h4>
  <% end %>
  <div class="row">
    <dev class="col-3">
      <aside>
        <h3 class="sub-title">menu</h3>
        <ul class="sub-menu">
          <li><%= link_to 'new 365', new_post_path, class: "no-underline" %></li></li>
          <li><%= link_to 'my page', user_path(current_user.id), class: "no-underline" %></li>
          <li><%= link_to '365', posts_path, class: "no-underline" %></li>
          <!--turbolinksを無効化する→'data-turbolinks': false-->
          <li><%= link_to 'schedule', my_calendar_path,'data-turbolinks': false, class: "no-underline" %></li>
        </ul>
      </aside>
      
    </dev>
    
    <dev class="col-8">
      <div class="media">
        <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, fallback: "noimage.jpg", class: "mr-3 align-self-start rounded-circle" %>
          <div class="media-body">
            <b>＠<%= @user.name %></b>
      	    <small class="text-dark">favorite artist<i class="fas fa-headphones-alt"></i><%= @user.artist %></small></br>
            <i><%= @user.introduction %></i></br>
            <small class="text-dark">
              <%= link_to followings_user_path(@user.id), class: "no-underline" do %>
                <%= @user.followings.count %> フォロー中
              <% end %>｜
              <%= link_to followers_user_path(@user.id), class: "no-underline" do %>
                <%= @user.followers.count %> フォロワー
              <% end %>
            </small></br>
              <% if @user.id == current_user.id %>
                <%= link_to "Edit", edit_user_path(@user), class: "btn btn-outline-dark btn-sm" %>
              <% end %>
              <!--DM機能ボタン実装（相互のみ表示される）-->
              <% unless @user.id == current_user.id %>
                <% if (current_user.followed_by? @user) && (@user.followed_by? current_user) %>
                  <% if current_user != @user %>
                    <%= link_to '', direct_message_path(@user.id), class: "btn far fa-envelope btn-lg" %>
                  <% end %>
                <% end %>
              <% end %>
          </div>
      </div>
      <div class="row row-cols-1 row-cols-md-3 g-4">
        <% @posts.each do |post| %>
          <div class="card h-100">
            <div class="card-header bg-transparent">
              <%= link_to user_path(post.user.id) do %>
                <%= attachment_image_tag post.user, :profile_image, :fill, 25, 25, fallback: "noimage.jpg", class: "mr-3 align-self-start rounded-circle" %>
              <% end %>
              <b><%= post.user.name %></b>
            </div>
            <%= link_to post_path(post.id) do %>
              <%= attachment_image_tag post, :image, fallback: "noimage.jpg", class: "card-img-top" %>
            <% end %>
            <div class="card-body">
              <p class="card-title">
                <b>＠<%= post.user.name %></b>
                <span id="likes-<%= post.id %>"><%= render "likes/like-btn", post: post %></span>
                <i class="far fa-comments"> <%= post.post_comments.count %></i>
              </p>
              <p class="card-text">
                <%= render_with_hashtags(post.body) %></br>
              </p>
            </div>
            <div class="card-footer text-right">
              <small class="text-muted"><%= time_ago_in_words(post.created_at) %></small>  
            </div>
          </div>
        <% end %>
        <%= paginate @posts %>
      </div>
    </div>
  </div>
</div>