<div id="user-header" class="big-bg">
  <%= render 'layouts/header' %>
</div>

<div class="sub-title">
  <% if @user.id == current_user.id %>
    <span class="title">my page</span>
  <% else %>
    <span class="title">user info</span>
  <% end %>
</div>

<div class="row justify-content-end">
  <%= render 'searches/search-form' %>
</div>
<div class="mypage-content wrapper">
  <aside>
    <%= render 'user-info', user: @user %>
    <div class="new-365">
      <%= render 'posts/new-btn' %>
    </div>
    <div class="my-schedule">
      <%= render 'posts/schedule-btn' %>
    </div>
    <div class="new-setlist">
      <%= render 'posts/setlist-btn' %>
    </div>
  </aside>
  <article>
      <%= render 'posts/index', posts: @posts %>
    </article>
</div>
