<div class="form-wrapper">
  <h5 class="devise-title">Forgot your password?</h2>
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <form>
        <div class="form-item">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>
        <div class="email-button-panel">
          <%= f.submit "Send me reset password instructions", class: "button" %>
        </div>
      <% end %>
      </form>
      <div class="form-footer">
        <%= render "devise/shared/links" %>
      </div>
</div>