<div id="schedule-header" class="big-bg">
  <%= render 'layouts/header' %>
</div>

<div class="sub-title">
  <span class="title">editing schedule</span>
</div>

<div class="row justify-content-end">
  <%= render 'searches/search-form' %>
</div>
<div class="mypage-content wrapper">
  <aside>
    <%= render 'users/user-info', user: current_user %>
    <div class="new-365">
      <%= render 'posts/new-btn' %>
    </div>
    <div class="my-schedule">
      <%= render 'posts/schedule-btn' %>
    </div>
    <div class="new-setlist">
      <%= render 'posts/setlist-btn' %>
    </div>
  </aside>
  <article class="schedule-show">
    <div class='container mt-5'>
      <div class='row'>
        <div class="col-sm-5 px-5 px-sm-0 mx-auto">
          <%= form_with model: @schedule, local: true do |f| %>
            <div class="form-group">
              <%= f.label :title, 'title' %>
              <%= f.text_field :title, class: 'form-control' %>
            </div>
            <div class="form-group">
              <%= f.label :body, 'memo' %>
              <%= f.text_area :body, class: 'form-control' %>
            </div>
            <div class="form-group">
              <%= f.label :start_date, 'start' %>
              <%= f.datetime_field :start_date, class: 'form-control datetime-form' %>
            </div>
            <div class="form-group">
              <%= f.label :end_date, 'end' %>
              <%= f.datetime_field :end_date, class: 'form-control datetime-form' %>
            </div>
            <div class="form-group">
              <%= f.submit 'up date', class: 'btn_7 no-underline' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </article>
</div>