<div class='container'>
  <h1>Schedules#edit</h1>
  <div class='row'>


        <%= form_with model: @schedule, local: true do |f| %>
          <div class="form-group">
            <%= f.label :title, 'スケジュール名' %>
            <%= f.text_field :title, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :body, 'スケジュール内容' %>
            <%= f.text_area :body, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :start_date, '開始日時' %>
            <%= f.datetime_field :start_date, class: 'form-control datetime-form' %>
          </div>
          <div class="form-group">
            <%= f.label :end_date, '終了日時' %>
            <%= f.datetime_field :end_date, class: 'form-control datetime-form' %>
          </div>
          <div class="form-group">
            <%= f.submit 'submit', class: 'btn btn-success btn-block' %>
          </div>
        <% end %>

  </div>
</div>
