<div id="schedule-header" class="big-bg">
  <%= render 'layouts/header' %>
</div>

<div class="sub-title">
  <span class="title">new schedule</span>
</div>

<div class="row justify-content-end">
  <%= render 'searches/search-form' %>
</div>
<div class="mypage-content wrapper">
  <aside>
    <%= render 'users/user-info', user: current_user %>
    <div class="new-365">
      <%= render 'posts/new-btn' %>
    </div>
    <div class="my-schedule">
      <%= render 'posts/schedule-btn' %>
    </div>
    <div class="new-setlist">
      <%= render 'posts/setlist-btn' %>
    </div>
  </aside>
  <article class="schedule-show">
    <div class='container mt-5'>
      <div class='row'>
        <div class="col-sm-5 px-5 px-sm-0 mx-auto">
          <%= render 'new', schedule: @schedule  %>
        </div>
      </div>
    </div>
  </article>
</div>