<div id="schedule-header" class="big-bg">
  <%= render 'layouts/header' %>
</div>

<div class="sub-title">
  <span class="title">my schedule</span>
</div>

<div class="row justify-content-end">
  <%= render 'searches/search-form' %>
</div>
<div class="mypage-content wrapper">
  <aside>
    <%= render 'users/user-info', user: current_user %>
    <div class="new-365">
      <%= render 'posts/new-btn' %>
    </div>
    <div class="my-schedule">
      <%= render 'posts/schedule-btn' %>
    </div>
    <div class="new-setlist">
      <%= render 'posts/setlist-btn' %>
    </div>
  </aside>
  <article class="schedule-show">
    <div class='container mt-3'>
      <div class='row'>
        <div class="col-sm-8 px-5 px-sm-0 mx-auto">
          <% if @schedule.user == current_user %>
            <%= link_to 'new', new_schedule_path, class: 'btn-circle-flat no-underline' %>
          <% end %>
          <table class="table table-bordered mt-3">
            <tbody>
              <tr>
                <th class="active">
                  <i class="far fa-calendar-alt"></i> title
                </th>
                <td>
                  <%= @schedule.title %>
                </td>
              </tr>
              <tr>
                <th class="active">
                  <i class="fas fa-pen-nib"></i> memo
                </th>
                <td>
                  <%= @schedule.body %>
                </td>
              </tr>
              <tr>
                <th class="active">start date</th>
                <td>
                  <%= @schedule.start_date.strftime("%Y-%m-%d %H:%M") %>
                </td>
              </tr>
              <tr>
                <th class="active">end date</th>
                <td><%= @schedule.end_date.strftime("%Y-%m-%d %H:%M") %></td>
              </tr>
            </tbody>
          </table>
          <div class='schedule-container'>
            <% if @schedule.user == current_user %>
              <div class="schedule-btn">
                <%= link_to 'edit', edit_schedule_path(@schedule), class: 'btn_7 no-underline' %>
              </div>
              <div class="schedule-btn">
                <%= link_to 'delete', schedule_path(@schedule), method: :delete, "data-confirm" => "本当に消しますか?", class: 'btn_6 no-underline' %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </article>
</div>



<% posts.each do |post| %>
  <div class="blog-card post-index">
    <div class="meta">
      <div class="photo" style="background-image">
        <%= attachment_image_tag post, :image, fallback: "noimage.jpg", class: "card-img-top" %>
      </div>
      <ul class="details">
        <li class="date"><%= time_ago_in_words(post.created_at) %></li>
        <li>song title：<%= post.title %></li>
        <li>artist：<%= post.artist %></li>
        <li>event：<%= post.event %></li>
      </ul>
    </div>
    <div class="description">
      <h5>
        <%= link_to user_path(post.user.id), class: "no-underline" do %>
          <%= attachment_image_tag post.user, :profile_image, :fill, 30, 30, fallback: "noimage.jpg", class: "align-self-start rounded-circle" %>
        <% end %>
        ＠<%= post.user.name %>
      </h5>
      <span>
        <span id="likes-<%= post.id %>"><%= render "likes/like-btn", post: post %></span>
        <i class="far fa-comments"> <%= post.post_comments.count %></i>
      </span>
      <p class="post-body"><%= render_with_hashtags(post.body) %></p>
      <p class="read-more"><%= link_to 'Read More', post_path(post.id), class: "no-underline" %></p>
      </p>
    </div>
  </div>
 <% end %>
<%= paginate posts %>
