<div id="home" class="big-bg">
  <%= render 'layouts/header' %>
  <div class="home-content wrapper">
    <h2 class="page-title">No Music No Life</h2>
    <p>365日、音楽と共に。</p>
    <!--ログインしていない人のみ表示-->
    <% unless user_signed_in? %>
      <%= link_to "start", new_user_session_path, class: "home-button no-underline" %>
    <% end %>
  </div>
</div>

  <div class="about-title mt-5">
    <p>about</p>
  </div>
  
        <div class="about-content">
          <%= image_tag asset_path("about1.jpg"), class: "img-about left mr-5" %>
          <span class="about-text ">
            <h2>post</h2>
            <p>音楽に関わるちょっとした日常の呟きを自由に投稿しましょう。</br>
              嬉しかった時や勇気づけられた時、落ち込んでしまった時。</br>
              特になんでもない普通の日。</br>
              音楽を聴いてどんなことを思いましたか。</br>
              その思いを共有して、音楽好きさんとの輪を広げてみましょう。
            </p>
          </span>
        </div>
      
      
      
      <div class="container-about">
        <div class="about-item">
          <%= image_tag asset_path("about-heat.png"), class: "about-heat" %>
          <p>postにいいねしてみよう</p></br>
          <small>「気に入ったよ」「見たよ」など、</br><i class="far fa-heart"></i>を押して手軽に気持ちを伝えられます。</small>
        </div>
        <div class="about-item">
          <%= image_tag asset_path("about-user.png"), class: "about-user" %>
          <p>userをフォローしてみよう</p></br>
          <small>音楽の趣味が合いそう！や</br>同じアーティストが好きなuserを見つけたら</br>フォローしてみましょう。</small>
        </div>
        <div class="about-item">
          <%= image_tag asset_path("about-come.png"), class: "about-come" %>
          <p>messageを送ってみよう</p></br>
          <small>postにコメントすることができます。</br>相互フォローしていれば、</br>1対1で個人的なメッセージのやりとりができます。</small>
        </div>
      </div>
      
      
      <div class="about-content">
        <span class="about-text">
          <h2>schedule</h2>
          <p>ライブやフェスの予定など、scheduleに登録できます。</br>
            自分の好きなように活用してみてください。</br>
            カレンダーを音楽にまつわるイベントで埋めてみるのも</br>
            一つの楽しみ方になるかもしれませんね。
          </p>
        </span>
        <%= image_tag asset_path("about2.jpg"), class: "img-about right ml-5 mt-5" %>
      </div>
      
      
      
      
      <div class="about-content">
        <%= image_tag asset_path("about3.jpg"), class: "img-about left mr-5 mb-5 mt-5" %>
        <span class="about-text">
          <h2>setlist</h2>
          <p>ユーザーであればセットリストの登録ができます。</br>
            行ったライブやフェスのセットリストを共有して</br>
            その日の思い出を振り返ってみましょう。</br>
            気になったセットリストも探して見ることもできます。</br>
            音楽ライフをより豊かに、より楽しくしていきましょう。
          </p>
        </span>
      </div>


