<div id="posts-header" class="big-bg">
  <%= render 'layouts/header' %>
</div>

<h1>search for "<%= params[:word] %>"</h1>
    <% if @category == '2' %>
        <% @post.each do |post| %>
          <%= link_to post_path(post.id) do %>
            <%= attachment_image_tag post, :image, fallback: "noimage.jpg", class: "card-img-top" %>
          <% end %>
        <% end %>
    <% end %>
    <% if @category == '1' %>
          <% @user.each do |user| %>
            <%= link_to user_path(user.id) do %>
              <b><i class="fas fa-at"><%= user.name %></i></b>
            <% end %>
          <% end %>
    <% end %>
    <% if @category == '3' %>
          <% @setlist.each do |setlist| %>
            <%= link_to setlist_path(setlist.id) do %>
              artist：<%= setlist.artist %>
            <% end %>
          <% end %>
    <% end %>