<div id="posts-header" class="big-bg">
  <%= render 'layouts/header' %>
</div>

<div class="container">
  <h1>search for "<%= params[:word] %>"</h1>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <% if @category == '2' %>
      <%= render 'index-post', post: @post %>
    <% end %>
    <% if @category == '1' %>
      <%= render 'index-user', user: @user %>
    <% end %>
    <% if @category == '3' %>
      <%= render 'index-setlist', setlist: @setlist %>
    <% end %>
  </div>
</div>