<div id="posts-header" class="big-bg">
  <%= render 'layouts/header' %>
</div>

<div class="sub-title">
  <span class="title">search for "<%= params[:word] %>"</span>
</div>

<div class="row justify-content-end">
  <%= render 'searches/search-form' %>
</div>
<div class="mypage-content wrapper">
  <aside>
    <%= render 'users/user-info', user: current_user %>
    <div class="new-365">
      <%= render 'posts/new-btn' %>
    </div>
    <div class="my-schedule">
      <%= render 'posts/schedule-btn' %>
    </div>
    <div class="new-setlist">
      <%= render 'posts/setlist-btn' %>
    </div>
  </aside>
  <article>
    <% if @category == '2' %>
      <%= render 'index-post', post: @post %>
    <% end %>
    <% if @category == '1' %>
      <%= render 'index-user', user: @user %>
    <% end %>
    <% if @category == '3' %>
      <%= render 'index-setlist', setlist: @setlist %>
    <% end %>
  </article>
</div>
