<div id="posts-header" class="big-bg">
  <%= render 'layouts/header' %>
</div>

<div class="sub-title">
  <span class="title">new 365</span>
</div>

<div class='container mt-5 mb-5'>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
        <%= form_with model: @post, local:true do |f| %>
          <div class="form-group">
            <%= f.label :image %>
            <%= f.attachment_field :image, class: "form-control-file" %>
          </div>
          <div class="form-group">
            <%= f.label :title %>
            <%= f.text_field :title, class: "form-control", placeholder: "タイトル" %>
          </div>
          <div class="form-group">
            <%= f.label :artist %>
            <%= f.text_field :artist, class: "form-control", placeholder: "投稿に関連しているアーティスト名" %>
          </div>
          <div class="form-group">
            <%= f.label :event %>
            <%= f.text_field :event, class: "form-control", placeholder: "投稿に関連しているイベント名"  %>
          </div>
          <div class="form-group">
            <%= f.label :caption %>
            <%= f.text_area :body, class: "form-control", placeholder: "＃をつけてハッシュタグ検索を活用しよう"  %>
          </div>
          <section class="post-new">
            <%= f.submit 'submit', class: 'btn_5 no-underline' %>
          </section>
        <% end %>
    </div>
  </div>
</div>