<div class="card" style="width: 25rem;">
  <%= attachment_image_tag @post, :image, fallback: "noimage.jpg", class: "card-img-top" %>
    <div class="card-body">
      <p class="card-text">
        <b><i class="fas fa-at"><%= @post.user.name %></i></b>
        <small class="text-muted"><%= @post.created_at.strftime('%Y/%m/%d') %></small>
      </p>
      <p class="card-text"><%= render_with_hashtags(@post.body) %></p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">song title：<%= @post.title %></li>
      <li class="list-group-item">artist：<%= @post.artist %></li>
      <li class="list-group-item">event：<%= @post.event %></li>
    </ul>
    <div class="card-body">
      <% if @post.user == current_user %>
        <%= link_to 'Edit', edit_post_path(@post), class: "card-link" %>
        <%= link_to "Destroy", post_path(@post), method: :delete, "data-confirm" => "本当に消しますか?", class: "card-link" %>
      <% end %>
    </div>
</div>