<!DOCTYPE html>
<html>
  <head>
    <title>Music365</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <li>
        <%= link_to 'my page', user_path(current_user.id) %>
      </li>
      <li>
        <%= link_to '365', posts_path %>
      </li>
      <li>
        <%= link_to 'users', users_path %>
      </li>
      <li>
        <%= link_to 'setlist', setlists_path %>
      </li>
      <li>
        <%= link_to '投稿フォーム', new_post_path %>
      </li>
      <li>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
      </li>
      <!--検索機能をログインしている場合全ての画面に表示する-->
              <% if user_signed_in? %>
                <!--検索フォーム-->
                <%= form_tag(search_path, method: :get) do %>
                  <%= text_field_tag (:word) %>
                  <%= select_tag 'category', options_for_select([['---選択してください---', ''],['User', '1'], ['Post', '2'], ['Setlist', '3']]) %>
                  <%= select_tag 'search', options_for_select([["完全一致", "perfect_match"], ["前方一致", "forward_match"], ["後方一致", "backward_match"], ["部分一致", "partial_march"]]) %>
                  <%= submit_tag "検索" %>
                <% end %>
              <% end %>
    <% else %>
      <li>
        <%= link_to "新規登録", new_user_registration_path %>
      </li>
      <li>
        <%= link_to "ログイン", new_user_session_path %>
      </li>
      <li>
        <%= link_to 'setlist', setlists_path %>
      </li>
    <% end %>
    
    <%= yield %>
  </body>
</html>
