<!DOCTYPE html>
<html>
  <head>
    <title>365Music</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<header>
  <div class="container">
    <h1><a href="/">365music</a></h1>
    <nav>
      <a href="#">Home</a>
      <a href="#">About Us</a>
      <a href="#">Blog</a>
    </nav>
  </div>
</header>
<div class="container"></div>
    
    <%= yield %>
  </body>
</html>
